<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <h2 class="text-center mt-3">Log in</h2>
        <div class="mb-3">
          <label for="Email" class="form-label">Email address</label>
          <input type="email" class="form-control" formControlName="Email" id="Email">
          <div *ngIf="loginForm.controls['Email'].invalid && loginForm.controls['Email'].touched">
            Email is required.
          </div>
        </div>
        <div class="mb-3">
          <label for="Password" class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="Password" id="Password">
          <div *ngIf="loginForm.controls['Password'].invalid && loginForm.controls['Password'].touched">
            password is required.
          </div>
        </div>
        <button type="submit" class="btn btn-success">Login</button>
        <span class="ps-3">Have no account?</span> <a href="/register" >Sign up</a>
      </form>

    </div>
  </div>
</div>
